<div class="page-footer">
  <div class="container">
    <div class="copyright">
      <b>
        <a href="#" class="copyright-link">Created with<i class="material-icons copyright-icon">favorite</i> By MarcusRocha</a>
      </b>
    </div>
  </div>
</div>